<%- include("partials/header") -%>
    <h1 class="post-title"><%= articleTitle %></h1> 
    <p class="post-content"> <%= articleContent %></p>
    <img src="<%= articleImg %>">
    <button class="post-button" href="<%= articleLink %>"> Download </button>
    
<!--Footer Removed--->
